<table>
  <div *ngFor="let alumno of dataSource">
    <ng-container>
      <td >{{alumno.apellido | uppercase}}</td>
    </ng-container>

    <ng-container>
      <td >{{alumno.nombre}}</td>
    </ng-container>

    <ng-container>
      <th >regularidad</th>
      <td  [ngClass]="alumno.regularidad ? 'regular' : 'libre' " >

        <mat-icon *ngIf="alumno.regularidad ; else regularidadLibre" aria-hidden="false" aria-label="Example done icon" fontIcon="done"></mat-icon>
        <ng-template #regularidadLibre>
          <mat-icon aria-hidden="false" aria-label="Example close icon" fontIcon="close"></mat-icon>
        </ng-template>


      </td>
    </ng-container>

  </div>
</table>
