<div class="demo-button-container">
  <button mat-raised-button (click)="addData()" class="demo-button">
    Agregar curso
  </button>
  <button
      mat-raised-button
      [disabled]="!dataSource.length"
      (click)="removeData()"
      class="demo-button">
    Eliminar curso
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let course">{{course.position}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Curso</th>
    <td mat-cell *matCellDef="let course">{{course.name}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef>Duración (semanas)</th>
    <td mat-cell *matCellDef="let course">{{course.duration}}</td>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="teacher">
    <th mat-header-cell *matHeaderCellDef>Profesor a cargo</th>
    <td mat-cell *matCellDef="let course">{{course.teacher}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="comision">
    <th mat-header-cell *matHeaderCellDef>Comisión</th>
    <td mat-cell *matCellDef="let course">{{course.comision}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
